#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

DEB_INSTALL_EXAMPLES_SSUCoind += debian/examples/*
DEB_INSTALL_MANPAGES_SSUCoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix SSUCoind USE_ASM=1 USE_LEVELDB=1
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f SSUCoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake SSUCoin-qt.pro USE_ASM=1 USE_LEVELDB=1

# Ensure wrapper is set executable
binary-post-install/SSUCoind:
	chmod +x $(cdbs_curdestdir)usr/bin/SSUCoind
binary-post-install/SSUCoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/SSUCoin-qt
